html
	head
		style
			include index.css
		title gauge
	body
		div.welcome
			img(src="cart.png")
		h1 Choose your gauge
		each gauge in gauges
			a(href="/gauges/" + gauge)
				div.gaugeCard
					img(src="/images/" + gauge + ".png").preview
					div.name= gauge
