@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100italic,700);

body {
	background-color: #282E3D;
	font-family: "Roboto", sans-serif;
	padding: 1em;
}

h1 {
	text-align: center;
	font-weight: 100;
	font-style: italic;
	color: #FFFFFF;
	font-size: 3em;
}

.welcome {
	float: left;
	position: absolute;
	margin: 0;
	font-weight: 300;
	color: #FFFFFF;
}

.welcome > h2 {
	display: inline;
}

.welcome > img {
	width: 50px;
}

.gaugeCard {
	border-radius: 15px;
	background-color: #FFFFFF;
	width: 200px;
	margin: 10px;
	display: inline-block;
	box-shadow: 4px 6px 19px -2px rgba(0,0,0,0.75);
}

.name {
	background-color: #9911A4;
	color: #FFFFFF;
	padding: 1em;
	border-radius: 0px 0px 15px 15px;
	text-align: center;

}

.preview {
	width: 100%;
	margin-top: 20px;
}
